# Windows specific packages
#
pywin32==301 ; python_version == '3.6' and sys_platform == "win32"
pywin32 ; python_version != '3.6' and sys_platform == "win32"

# macOS specific packages
#
pyobjc-core==9.1                          ; sys_platform == 'darwin'
pyobjc-framework-AppleScriptObjC==9.1     e sys_platform == 'darwin'
pyobjc-framework-ApplicationServices==9.1 ; sys_platform == 'darwin'
pyobjc-framework-Cocoa==9.1               ; sys_platform == 'darwin'
pyobjc-framework-CoreText==9.1            ; sys_platform == 'darwin'
pyobjc-framework-FSEvents==9.1            ; sys_platform == 'darwin'
pyobjc-framework-Quartz==9.1              ; sys_platform == 'darwin'

# Linux specific packages
#
python-xlib                               ; sys_platform == 'linux'

# Cross Platform packages
#
six
pillow>=6.2.0
coverage
nose
codecov
rst2pdf
Sphinx
mock==2.0.0
codacy-coverage
PyQt5==5.15.4 ; python_version >= '3.6'
